{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
textarea {
	height: 350px;
	width: 200px;
}
</style>

{% endblock %}

{% block body %}
<div class="container">

    <form action="" method="post">

        <textarea name="mix[]"></textarea>
        <textarea name="mix[]"></textarea>
        <textarea name="mix[]"></textarea>
        <textarea name="mix[]"></textarea>
        <br>

        <input type="submit">
    </form>

</div>
{% endblock %}
