{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
textarea {
	height: 350px;
	width: 200px;
}
</style>

{% endblock %}

{% block body %}
<div class="container">

    <form action="" method="post">

        <div class="rows">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="group">Group name</label>
                    <input class="form-control" id="group" placeholder="Group name" name="group">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="merge1">Merge group</label>
                    <textarea class="form-control" id="merge1" placeholder="Merge words" name="mix[]"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="unique" value="0" checked="checked"> Unique
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="merge2">Merge group</label>
                    <textarea class="form-control" id="merge2" placeholder="Merge words" name="mix[]"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="unique" value="1"> Unique
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="merge3">Merge group</label>
                    <textarea class="form-control" id="merge3" placeholder="Merge words" name="mix[]"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="unique" value="2"> Unique
                    </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="merge4">Merge group</label>
                    <textarea class="form-control" id="merge4" placeholder="Merge words" name="mix[]"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" name="unique" value="3"> Unique
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>

    </form>

</div>
{% endblock %}
